# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Frist/Frist_MFC/Frist_MFC/Debug
/Frist/Frist_MFC/Frist_MFC/res
/Frist/Frist_MFC/.vs/Frist_MFC/v15
/Frist/Frist_MFC/Debug
